.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Board {
  height: 21rem;
  width: 21rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.Cell {
  height: 6.85rem;
  width: 6.85rem;
  border: 1px solid black;
  font-size: 5rem;
  text-align: center;
}

.Status {
  font-size: 3rem;
}
